*.csv
__pycache__/
.ipynb_checkpoints/
.ruff_cache/

raw_data/*
!raw_data/init.txt

processed_data/*
!processed_data/init.txt

model_weights_states/*
!model_weights_states/init.txt

models/*
!models/__init__.py

outputs/*
!outputs/init.txt

misc/*
!misc/__init__.py

*.jld2
*.png
*.svg
*.env
*.parquet
*.pkl