PyYAML==6.0.2
numpy==2.2.6
pandas==2.3.2
torch==2.8.0
scikit-learn
scipy==1.16.1
transformers==4.40.1
datasets==2.18.0
accelerate==0.28.0
huggingface==0.0.1
tensorboard==2.20.0
tqdm==4.67.1
matplotlib==3.10.5
seaborn==0.13.2
ipython==9.4.0
python-dotenv==1.0.1
#flash-attn==2.6.3
finnhub-python==2.4.24
aiohttp==3.12.15
yfinance==0.2.58
requests==2.32.4
optuna==4.5.0
tensorflow==2.20.0

#coloredlogs==15.0.1
#gym==0.18.0
#psutil==5.8.0
#ray[rllib]==1.7.0
